name: Build and publish to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  build_wheels:
    name: Build wheels
    uses: ./.github/workflows/build-wheels.yml

  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install build
      - run: python -m build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  publish:
    name: Publish to PyPI
    needs:
      - build_wheels
      - build_sdist
    runs-on: ubuntu-latest

    environment:
      name: pypi-publish
      url: https://pypi.org/p/sekai-deck-recommend-cpp

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
